.tabMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabMenu > button {
  border: 1px solid black;
  flex: 1 1 20%;
  text-align: center;
}

.tabMenu > button.active {
  border-bottom: none;
  background: rgb(161, 194, 255);
}
