h1 {
  font-size: 20px;
  font-weight: 600 !important;
}

.container {
  width: 300px;
  height: 350px;
  border: black 4px solid;
  margin: 20px auto;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.receiveNation {
  display: flex;
}

.submitButton {
  width: 70px;
  background-color: rgb(62, 99, 221);
  color: rgb(243, 247, 250);
  border-radius: 4px;
  padding: 8px;
  margin-top: 20px;
}

.textBox {
  margin-left: 3px;
  width: 100px;
  margin-right: 4px;
}

.textLine {
  display: flex;
  align-items: center;
}

.wrongResult {
  font-size: 14px;
  color: red;
  font-weight: bold;
}
.resultRate {
  font-size: 14px;
  font-weight: bold;
  color: rgb(29, 62, 134);
}
